<DynLB >
<!-- 1024 * 1024 * 32 = 33554432, 1024 * 1024 * 16 = 16777216 -->
	<Nodes>
		<Node id="0" type="local" ip="172.22.156.65" port="9090" />
		<Node id="1" type="remote" ip="172.22.156.5" port="9090" />
	</Nodes>
	<Workload size="33554432" jobs="512" />
	<ThrottleInterface file="throt" />
	<HWMonitor period="2000" />
	<StateInfoPolicy period="4000" /> <!-- ms: can also include items="network,cpu" -->
	<TransferPolicy period="20000" type="sender" algo="jobCount" /> <!-- sender,receiver,symmetric -->
	<!-- algo<jobCount,jobCompletion,advanced> -->
</DynLB>

